{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "globals": {
    "API_ENV": "readonly"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "react-app"
  ],
  "rules": {
    "prettier/prettier": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "import/first": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-commonjs": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-indent-props": "off",
    "semi": [2, "always"],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "never",
        "warnOnUnassignedImports": true,
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "react/no-children-prop": "off",
    "react/self-closing-comp": "error",
    "react/jsx-key": "error"
  }
}
